body {
  padding: 20px;
}

.row {
  display: flex;
  height: 100px;
}

.col {
  width: 100px;
  border: 1px solid black;
}

img {
  width: 100px;
}

.images > img {
  width: 50px;
  border: 1px solid black;
}
